*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
  }
.nav-border {
    border: 1px solid #c5b3d4; 
    background-color: #f8f8f8;
    width: 100%;
    border-radius: 10px; 
    box-sizing: border-box;
}
.navbar {
    background-color: #c5b3d4; 
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: white;
}
.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; 
}
.nav-item {
    display: block;
    padding: 10px 20px;
    /* background-color: #c5b3d4;  */
    text-decoration: none;
    transition: background-color 0.3s;
  }
  .nav-item a {
       color:#333
  }
  
  .nav-item:hover {
    background-color: rgb(243, 242, 180) !important; 
}

.about-me-container {
  margin-top:10px;
    padding: 20px;
    text-align: center;
    border: 2px solid #d1b4ea; 
    border-radius: 10px; 
    margin-bottom:20px;
    background-color: #c5b3d4;
  }
  
  .about-me-heading {
    color: #333;
    font-size: 1.5em;
    border-left: 4px solid #8a2be2;
    padding-left: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: left;
    justify-content: left;
  }
  
  .about-me-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-me-image {
    flex: start;
    margin-right: 70px;
    width :50%
  }
  
  .about-me-image img {
    width: 250px; 
    height: 250px;
    border-radius: 10px; 
    margin-top: 20px;
    margin-bottom:20px;
  }
  
  .about-me-text {
    flex: end;
    text-align: left;
    width:50%;
    font-size: 16px;
  }
  
  .about-me-text h3 {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  

  
  .about-me-text p {
    font-size: 16px;
    color: #666; 
    line-height: 1.6;
  }
  
.education-section {
    border-radius: 20px;
    color: #666;
    background-color: #c5b3d4;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #d1b4ea;
    border-radius: 10px; 
    margin-bottom:20px;
    
  }
  .education-title {
    color: #333;
    font-size: 1.5em;
    border-left: 4px solid #8a2be2;
    padding-left: 8px;
    margin-bottom: 20px;
  }
  .education-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .education-block {
    width: 46%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 15px;
    background: #f9f9f9;
  }
  .education-header {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
  .education-date {
    text-align: right;
    font-style: italic;
    color: #666;
  }
  .education-degree, .education-cgpa, .education-courses {
    margin: 10px 0;
  }
  .projects-section {
    color: #666;
    background-color: #c5b3d4;
    margin-bottom: 10px;
    margin: auto;
    padding: 20px;
    border: 2px solid #d1b4ea;
    border-radius: 10px; 
  }
  
  .projects-title {
    text-align: left;
    color: #333;
    font-size: 1.3em;
    border-left: 4px solid #8a2be2;
    padding-left: 8px;
    margin-bottom: 20px;
  }
  
  .projects-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start; 
  }


  .project-card {
    display: flex;
    width:40%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    flex: 0 0 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     align-items: center; 
  }

  p
  .project-image {
  
        width: 100%; 
        display: flex;
        justify-content: center; 
        margin-bottom: 20px;
       

  }
  .project-card img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
  .project-card h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .project-description {
    font-size: 16px;
    color: #666;
  }
  .experience-section {
    color: #666;
    margin: auto;
    background-color: #c5b3d4;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #d1b4ea;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  }
  
  .experience-title {
    color: #333;
    font-size: 1.5em;
    border-left: 4px solid #8a2be2;
    padding-left: 8px;
    margin-bottom: 20px; 
  }
  
  .experience-entry {
    border-top: 2px solid #ccc; 
    padding-top: 20px; 

  }
  
  .experience-header {
    display: flex;
    justify-content: space-between; 
    align-items: baseline; 
    margin-bottom: 10px; 
  }
  .role{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #333;
  }
  .date-range{
    color:#333;
  }
 
  
  .company-name {
    font-weight: bold;
    color: #333;
  }  
  .blog-container {
    color: #666;
    background-color: #fff;
    border: 2px solid #d1b4ea;
    border-radius: 10px; 
    padding: 20px; 
    margin-bottom: 20px;
  }
  
  .blog-title {
    color: #333;
    font-size: 1.5em;
    border-left: 4px solid #8a2be2;
    padding-left: 8px;
    margin-bottom: 20px;
  }

.blog-container h1, .blog-container h2 {
    color: #5D5C61;
}

.blog-container ul {
    list-style: inside square;
    padding-left: 20px;
}

.blog-container li {
    margin-bottom: 10px;
}

.blog-container p {
    text-align: justify;
    margin-bottom: 20px;
}

  .contact-container {
    color: #666;
    border: 2px solid #d1b4ea;
    border-radius: 10px;
    background-color: #c5b3d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
  }
 
  
  .contact-title {
    color: #333;
    font-size: 1.5em;
    border-left: 4px solid #8a2be2;
    padding-left: 8px;
    margin-bottom: 20px;
  }
  .contact-info p {
    margin: 0; 
    color: #333; 
    font-size: 16px; 
  }
  
  .social-icon img {
    width: 50px; 
    height: 50px;
    margin-left: 10px; 
  }
  
/* Responsive style for smaller screens */

@media only screen and (max-width: 900px) {
    .navbar-container {
        flex-direction: column;
    }

    .about-me-content{
         display:block;
    }

    img {
        max-width: 100%;
        height: auto;
    }

   
}
    


